* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../images/loginbackground.jpg') no-repeat center / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.charclogin {
    width: 350px;
    border-radius: 10px 0px 0px 10px;
}

.form-p {
    display: flex;
    flex-direction: column;
    color: maroon;
}

.title {
    font-size: 2rem;
    text-shadow: 0 0 1.5px rgba(255, 255, 255, 0.558);
}

.hd {
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
}

form input:not([type="checkbox"]) {
    width: 350px;
    height: 50px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    color: maroon;
    box-shadow: 0 0 5px maroon;
}

form input::placeholder {
    color: maroon;
}

form input:focus:not([type="checkbox"]) {
    outline: 2px solid maroon;
}

form button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: maroon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

form button:hover,
form button:focus,
form button:active {
    background-color: #5e0000;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(128, 0, 0, 0.3);
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button[type="reset"] {
    background-color: transparent;
    outline: 2px solid maroon;
    color: maroon;
    box-shadow: 0 0 5px maroon;
}

button[type="submit"] {
    box-shadow: 0 0 5px maroon;
}

.rememberMe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rememberMe #remember {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    accent-color: maroon;
}

.forgot,
.register {
    color: maroon;
    backdrop-filter: brightness(300%);
}

.forgot:hover,
.register:hover {
    color: rgb(62, 0, 0);
}

@media screen and (max-width: 820px) {
    .container {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        width: 650px;
        font-size: 1rem;
    }

    .charclogin {
        width: 300px;
        margin-right: 30px;
    }

    .title {
        font-size: 1.5rem;
    }

    .hd {
        margin-top: 15px;
    }

    form {
        width: 300px;
    }

    form input:not([type="checkbox"]) {
        width: 300px;
        height: 40px;
    }

    form button {
        width: 120px;
        font-size: 0.8rem;
    }

    .rememberMe{
        font-size: 0.8rem;
    }

    .rememberMe #remember {
        width: 12px;
        height: 12px;
    }

    .forgot,
    .registeraccount {
        font-size: 0.8rem;
    }
}


@media screen and (max-width: 660px) {
    .container {
        width: 90%;
        grid-template-columns: 1fr 1fr;
        width: 550px;
        font-size: 1rem;
    }

    .charclogin {
        width: 250px;
        margin-right: 30px;
    }

    .title {
        font-size: 1rem;
    }

    form {
        width: 250px;
        margin-top: 10px;
    }

    form input:not([type="checkbox"]) {
        width: 250px;
        height: 30px;
    }

    form button {
        width: 90px;
        font-size: 0.5rem;
        height: 25px;
    }

    .rememberMe{
        font-size: 0.5rem;
    }

    .rememberMe #remember {
        width: 10px;
        height: 10px;
    }

    .forgot,
    .registeraccount {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 550px) {
    .container {
        display: grid;
        width: 300px;
        font-size: 1rem;
        grid-template-columns: none;
        place-content: center;
    }

    .charclogin {
        width: 300px;
        border-radius: 10px 10px 0px 0px;
        margin: 0;
    }

    .form-p {
        margin: auto;
    }

    .title {
        font-size: 1.2rem;
    }

    form {
        width: 250px;
        margin-top: 10px;
    }

    form input:not([type="checkbox"]) {
        width: 250px;
        height: 35px;
    }

    form button {
        width: 100px;
        font-size: 0.8rem;
        height: 30px;
    }

    .rememberMe{
        font-size: 0.8rem;
    }

    .rememberMe #remember {
        width: 15px;
        height: 15px;
    }

    .forgot,
    .registeraccount {
        font-size: 0.8rem;
    }
}