* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* body */
    --FONT-FAMILY: Arial, Helvetica, sans-serif;
    /* container */
    --WIDTH: 750px;
    --GRID-COLUMN: 1fr 1fr;
    /* charclogin */
    --CHAR-WIDTH: 350px;
    --CHAR-BORDER: 10px 0px 0px 10px;
    --CHAR-MARGIN-RIGHT: 0px;
    /* title */
    --TITLE-FONT-SIZE: 2rem;
    /* form */
    --FORM-WIDTH: 400px;
    --FORM-MARGIN-TOP: 20px;
    /* form input:not([type="checkbox"]) */
    --FORM-WIDTH-INPUT: 350px;
    --FORM-HEIGHT-INPUT: 50px;
    /* form button */
    --FORM-BUTTON-WIDTH: 150px;
    --FORM-BUTTON-HEIGHT: 40px;
    --FORM-FONT-SIZE-BUTTON: 1rem;
    /* rememberMe */
    --REMEMBERME-FONT-SIZE: 1rem;
    /* .rememberMe #remember */
    --REMEMBERME-CHECKBOX-WIDTH: 15px;
    --REMEMBERME-CHECKBOX-HEIGHT: 15px;
    /* .forgot, .registeraccount */
    --FORGET-REGISTER-FONT-SIZE: 1rem;
}

body {
    font-family: var(--FONT-FAMILY);
    background: url('../images/loginbackground.jpg') no-repeat center / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: grid;
    width: var(--WIDTH);
    grid-template-columns: var(--GRID-COLUMN);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1rem;
}

.charclogin {
    width: var(--CHAR-WIDTH);
    border-radius: var(--CHAR-BORDER);
    margin-right: var(--CHAR-MARGIN-RIGHT);
    margin: var(--CHAR-MARGIN);
}

.form-p {
    display: flex;
    flex-direction: column;
    color: maroon;
    margin: auto;
}

.title {
    font-size: var(--TITLE-FONT-SIZE);
    text-shadow: 0 0 1.5px rgba(255, 255, 255, 0.558);
    margin-left: 30px;
}

.hd {
    margin-top: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: var(--FORM-MARGIN-TOP);
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    width: var(--FORM-WIDTH);
}

form input:not([type="checkbox"]) {
    width: var(--FORM-WIDTH-INPUT);
    height: var(--FORM-HEIGHT-INPUT);
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    color: maroon;
    box-shadow: 0 0 5px maroon;
}

form input::placeholder {
    color: maroon;
}

form input:focus:not([type="checkbox"]) {
    outline: 2px solid maroon;
}

.password-box {
    position: relative;
    width: var(--FORM-WIDTH-INPUT);
}

.password-box input {
    width: 100%;
    height: 50px;
    padding: 10px 40px 10px 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid maroon;
}

.password-box .toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: maroon;
    font-size: 1.2rem;
}

form button {
    width: var(--FORM-BUTTON-WIDTH);
    height: var(--FORM-BUTTON-HEIGHT);
    border-radius: 10px;
    border: none;
    background-color: maroon;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: var(--FORM-FONT-SIZE-BUTTON);
    transition: all 0.3s ease;
}

form button:hover,
form button:focus,
form button:active {
    background-color: #5e0000;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(128, 0, 0, 0.3);
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button[type="reset"] {
    background-color: transparent;
    outline: 2px solid maroon;
    color: maroon;
    box-shadow: 0 0 5px maroon;
}

button[type="submit"] {
    box-shadow: 0 0 5px maroon;
}

.rememberMe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--REMEMBERME-FONT-SIZE);
}

.rememberMe #remember {
    width: var(--REMEMBERME-CHECKBOX-WIDTH);
    height: var(--REMEMBERME-CHECKBOX-HEIGHT);
    margin-right: 10px;
    accent-color: maroon;
}

.forgot,
.register {
    color: maroon;
    backdrop-filter: brightness(300%);
}

.forgot:hover,
.register:hover {
    color: rgb(62, 0, 0);
}

.forgot,
.registeraccount {
    font-size: var(--FORGET-REGISTER-FONT-SIZE);
}

@media screen and (max-width: 820px) {
    :root {
        --WIDTH: 650px;
        --CHAR-WIDTH: 300px;
        --CHAR-MARGIN-RIGHT: 30px;
        --TITLE-FONT-SIZE: 1.5rem;
        --FORM-WIDTH: 350px;
        --FORM-WIDTH-INPUT: 300px;
        --FORM-HEIGHT-INPUT: 40px;
        --FORM-BUTTON-WIDTH: 120px;
        --FORM-FONT-SIZE-BUTTON: 0.8rem;
        --REMEMBERME-FONT-SIZE: 0.8rem;
        --REMEMBERME-CHECKBOX-WIDTH: 12px;
        --REMEMBERME-CHECKBOX-HEIGHT: 12px;
        --FORGET-REGISTER-FONT-SIZE: 0.8rem;
    }
}


@media screen and (max-width: 660px) {
    :root {
        --WIDTH: 550px;
        --CHAR-WIDTH: 250px;
        --TITLE-FONT-SIZE: 1rem;
        --FORM-WIDTH: 300px;
        --FORM-MARGIN-TOP: 10px;
        --FORM-WIDTH-INPUT: 250px;
        --FORM-HEIGHT-INPUT: 30px;
        --FORM-BUTTON-WIDTH: 90px;
        --FORM-BUTTON-HEIGHT: 25px;
        --FORM-FONT-SIZE-BUTTON: 0.5rem;
        --REMEMBERME-FONT-SIZE: 0.5rem;
        --REMEMBERME-CHECKBOX-WIDTH: 10px;
        --REMEMBERME-CHECKBOX-HEIGHT: 10px;
        --FORGET-REGISTER-FONT-SIZE: 0.5rem;
    }
}

@media screen and (max-width: 550px) {
    :root {
        --WIDTH: 300px;
        --GRID-COLUMN: none;
        --CHAR-WIDTH: 300px;
        --CHAR-BORDER: 10px 10px 0px 0px;
        --TITLE-FONT-SIZE: 1.2rem;
        --FORM-HEIGHT-INPUT: 35px;
        --FORM-BUTTON-WIDTH: 100px;
        --FORM-BUTTON-HEIGHT: 30px;
        --FORM-FONT-SIZE-BUTTON: 0.8rem;
        --REMEMBERME-FONT-SIZE: 0.8rem;
        --REMEMBERME-CHECKBOX-WIDTH: 15px;
        --REMEMBERME-CHECKBOX-HEIGHT: 15px;
        --FORGET-REGISTER-FONT-SIZE: 0.8rem;
    }
}