* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 30px;
    min-height: 100vh;
    background: url('../images/registerbackground.jpg') no-repeat center / cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 850px;
    height: min-content;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1rem;
}

form {
    border: 2px solid maroon;
    border-radius: 15px;
    background-color: rgb(246, 241, 221);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.p-create-account {
    font-size: 3rem;
    color: maroon;
    font-weight: bold;
    text-shadow: 0 0 1.5px rgba(255, 255, 255, 0.558);
    text-align: center;
    margin: 20px auto;
    width: 100%;
    line-height: 70px;
    border-radius: 5px;
}

.register {
    font-size: 2rem;
    color: maroon;
    text-shadow: 0 0 1.5px rgba(255, 255, 255, 0.558);
    font-weight: bold;
    text-align: center;
}

label {
    color: maroon;
    font-size: 1.2rem;
}

input:not([type="checkbox"]), #gender {
    border-radius: 5px;
    height: 50px;
    border: none;
    padding: 15px;
    font-size: 1rem;
    color: maroon;
    box-shadow: 0 0 5px maroon;
    width: 100%;
    transition: all .3s ease-in-out;
}

#gender {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='maroon' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px;
    padding-right: 40px;
    cursor: pointer;
}

input:focus:not([type="checkbox"]), #gender:focus {
    outline: 2px solid maroon;
}

input::placeholder {
    color: maroon;
}

.form-row-split, .form-row-full {
    display: flex;
    margin-top: 25px;
    gap: 20px;
}

.form-group-half {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.password-box, .confirm-password-box {
    position: relative;
}

.toggle {
    color: maroon;
    right: 12px;
    top: 60%;
    position: absolute;
    cursor: pointer;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
    gap: 10px;
}

#accept-terms {
    width: 18px;
    height: 18px;
    accent-color: maroon;
    cursor: pointer;
}

.sign-up {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    color: white;
    background-color: maroon;
    border: 2px solid maroon;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.05s ease;
    cursor: pointer;
}

.sign-up:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid maroon;
    color: maroon;
    box-shadow: 0 5px 15px rgba(128, 0, 0, 0.3);
    transform: translateY(-2px);
}

.label-have-account {
    text-align: center;
    margin-top: 10px;
    color: maroon;
    font-size: 1.2rem;
    font-weight: bold;
}

label a, a {
    color: maroon;
    text-decoration: none;
}

a:hover {
    color: rgb(62, 0, 0);
}

@media (max-width: 650px) {
    .form-row-split {
        flex-direction: column;
        gap: 20px;
    }
    .form-group-half {
        width: 100%;
    }
    form {
        padding: 20px 15px;
    }
}

@media (max-width: 450px) {
    .form-row-split {
        gap: 15px;
    }
    .p-create-account {
        font-size: 2.5rem;
    }
    .label-have-account, label {
        font-size: 1rem;
    }
    label {
        text-wrap: nowrap;
    }
}