* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/registerbackground.jpg") no-repeat center / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 70%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.container .left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 3px solid pink;
}

.container .right-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.container .left-container .register {
    transform: translateY(20px);
    font-size: 3rem;
    color: maroon;
}

.container .left-container .label-have-account {
    transform: translateY(-30px);
    font-size: 1rem;
}

.container .left-container button {
    transform: translateY(-10px);
    width: 130px;
    height: 50px;
    background-color: maroon;
    border: 1px solid white;
    border-radius: 10px;
    color: pink;
    font-size: 1.1rem;
}

.container .left-container img {
    width: 60%;
    border-radius: 50%;
}